[Unit]
Description=Remote Camera uWSGI Service
After=network.target

[Service]
WorkingDirectory=/home/pi/remote_camera/
ExecStart=/home/pi/remote_camera/venv/bin/uwsgi --ini /home/pi/remote_camera/uwsgi.ini 

[Install]
WantedBy=multi-user.target